.hero-image {
    height: 700px;
    width : 100%;
}

.hero-text {
    position        : absolute;
    bottom          : 300px;
    left            : 70px;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding         : 20px;
    border-radius   : 10px;
}

.hero-text p,
.hero-text h2 {
    margin: 0;
}

.hero-text h2 {

    font-size: 36px;
}

.hero-text p:first-of-type {
    font-size: 16px;
}

@media (max-width: 800px) {
    .hero-text {
        left: auto;
    }
}